<ion-header>
  <ion-navbar color="primary">
    <ion-title>
     Barcode/NFC Scanner
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div *ngIf="results">
        <p>{{results.text}}</p>
        <p>{{results.format}}</p>
        <p>{{results.cancelled}}</p>
    </div>
  <!-- Add Action buttons here  -->
  <button ion-button (click)="scanBarcode()">Scan Barcode</button>
  <button ion-button (click)="encodeData()">Encode</button>


  <br>
  <h6 color=primary>NFC Options </h6>
  <!-- <button ion-button>Scan NFC Tag</button> -->

  <button full class="button button-stable button-clear eag-home-button eag-full-width" (click)="loginNFC()">Scan NFC Tag </button>


  <ion-card>
      <ion-card-content>
          <ion-card-header>
              First record in tag
          </ion-card-header>
          <h1>{{value}}</h1>
      </ion-card-content>
</ion-card>
  
</ion-content>
