<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="lib/signature_pad/example/js/signature_pad.js"></script>

  </head>
  <body ng-app="starter" ng-controller='SignatureCtrl'>

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title"> Signature Pad</h1>
      </ion-header-bar>
      <ion-content class="has-header padding" scroll='false'>
        <canvas id='signatureCanvas' width='300' height='180' style='border: 1px solid black;'></canvas>
        <div class='button-bar'>
          <a class='button button-energized' ng-click="clearCanvas()">Clear Canvas</a>
          <a class='button button-balanced' ng-click="saveCanvas()">Save Canvas</a>
        </div>
        <br>
        <img nr-src='{{signature}}'/>
      </ion-content>
    </ion-pane>
  </body>
</html>
